# Copyright 2012 Quest Software, Inc.
# ALL RIGHTS RESERVED.
#
# This software is the confidential and proprietary information of
# Quest Software Inc. ("Confidential Information").  You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Quest Software Inc.
#
# QUEST SOFTWARE INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. QUEST SOFTWARE SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.

#
# The Server Configuration File
#

#
# Partition name used when the server starts in HA mode. All server
# instances that are suppose to join the same partition should be
# configured to use the same partition name, and the same database URL
#
# This option is not used when the server is started in standalone mode,
# but it is mandatory when starting the server in HA mode. Installer should
# have configured it for you if you chose HA option at installation time.
#
# If you did not choose HA option at installation time but wish to use HA
# mode afterwards, uncomment the following line, fill in a partition name, and
# start the server using "fmsha" command
#
# server.ha.partition.name = "";

server.database.host = "10.30.150.122";
server.database.port = "1521";
server.database.name = "ora11g";
server.database.user = "yammychen";
server.database.password = "foglight";
server.database.type = "oracle";

#
# For Oracle, this option can be enabled once the database server is properly configured.
# However, for MySQL, DO NOT enable this option until the database server's CA certificate
# is properly imported into $fms_dir/jre/lib/security/cacerts.
#

server.database.secureconn = false;

#
# Settings for embedded datbase.  Only mysql type is allowed.
#

server.database.embedded = "false";

# Embedded DB startup and shutdown grace are optional.  The values below are the defaults in seconds.
server.database.embedded.startup.grace = "300";
server.database.embedded.shutdown.grace = "300";

server.database.embedded.password = "nitrogen";
# server.database.embedded.socket = "/tmp/fgl-511-db.sock";

#
# Port used by cluster multicast
# This option is only used in ha mode
#
server.cluster.mcast_port = "45566";

#
# Tomcat HTTP, AJP13 and HTTPS ports
# These options are mandatory, they must be configured for the server to start
#
server.http.port = "8080";
server.https.port = "8443";

# obsolete port
#server.ajp13.port = "@@FOGLIGHT_AJP13_PORT@@";

#
# CORBA ORB ports (used by the SPI Agent Adapter).
# These options are mandatory, they must be configured for the server to start
#
server.orb.port = "3528";
server.orb.ssl.port = "3529";

#
# JBoss JNDI RMI, JNDI JNP and JRMP Invoker ports
# These options are mandatory, they must be configured for the server to start
#
server.jndi.rmi.port = "1098";
server.jndi.jnp.port = "1099";
server.jrmp.invoker.port = "4444";
server.pooled.invoker.port = "4445";
server.unified.invoker.port = "4448";

#
# JBoss HA JNDI RMI, JNDI JNP, JRMP Invoker and PooledInvoker ports
# These options are mandatory, they must be configured for the server to start
#
server.ha.jndi.rmi.port = "1101";
server.ha.jndi.jnp.port = "1100";
server.ha.jrmp.invoker.port = "4447";
server.ha.pooled.invoker.port = "4446";
server.ha.jndi.udpgroup.port  = "1102";

#
# server.federation is a boolean parameter that indicates whether the
# server should start in the "federation" mode. The default value is false.
#
server.federation = false;

# qp5app port and info
server.qp5app.max.connections = "10";
server.qp5app.port = "8448";

#
# Additional VM options (up to 100) for FMS process (all options
# must be quoted and the lines have to end with a semicolon)
#
# The native launcher allocates the following defaults
#          min heap  max heap
#  32-bit: -Xms{same as Xmx}m  -Xmx{75% of total memory < 1024}m
#  64-bit: -Xms{same as Xmx}m  -Xmx{75% of total memory < 4096}m
#
# Examples for specific memory overrides:
#
#    Laptop-friendly
#      server.vm.option0 = "-Xms512m";
#      server.vm.option1 = "-Xmx512m";
#
#    Minimum memory, VMWare image friendly
#      server.vm.option0 = "-Xms128m";
#      server.vm.option1 = "-Xmx512m";
#
#    Maximum memory/production for 32-bit Windows
#     server.vm.option0 = "-Xms1280m";
#     server.vm.option1 = "-Xmx1280m";
#
# Uncomment the following lines starting with option0 to adjust VM settings
#
# server.vm.option0 = "";
# server.vm.option1 = "";
# ...
# server.vm.option99 = "";
#

#
# Additional command line options (up to 10) for fms [or fms.exe if in windows]
# They must be quoted and the lines have to end with a semicolon
#
# server.cmdline.option0 = "";
# server.cmdline.option1 = "";
# ...
# server.cmdline.option9 = "";
#

server.console.httpsonly = "false";

#
# Boolean value controls whether to start Embedded FglAm server
#
server.fglam.embedded="true";
